.img{
    width: 8rem;
}

.navbar{
    background-color: black;
    display: flex;
   
}

ul{
    display: flex;
    list-style: none;
    margin-right: 5rem;
}

li{
    padding: 1rem;
}

li > a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
}

h5{
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

li > a:hover{
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 999999px;
}

.text{
    color: white;
    margin-top: 4rem;
}

