
.img{
    width: 8rem;
}

.navbar{
    background-color: black;
    display: flex;
}

ul{
    display: flex;
    list-style: none;
    margin-right: 5rem;
}

li{
    padding: 1rem;
}

li > a{
    text-decoration: none;
    color: white;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 550px;
    background: black;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,3);
}

.wrapper .title h1{
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form{
    display: flex;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg{
    width: 48%;
}
.input-fields, .input,
.msg textarea{
    margin: 10px;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid white;
    padding: 10px;
    color: whitesmoke;
    width: 100%;
}
.msg textarea{
    height: 212px;
}
::-webkit-input-placeholder{
    color: white;
}
::-moz-placeholder{
    color: white;
}
:-ms-input-placeholder{
    color: white;
}

li > a:hover{
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 999999px;
}


