*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.img{
    width: 8rem;
}

.navbar{
    background-color: black;
    display: flex;
     
}

ul{
    display: flex;
    list-style: none;
    margin-right: 5rem;
    
}

li{
    padding: 1rem;
}

li > a{
    text-decoration: none;
    color: white;
}

.home-page{
    margin-top: 8rem;
}

main{
    padding-top: 85px;   
}

.me{
    padding-left: 350;
}

#zia{
    border-radius: 50%;
    align-items: center;
    margin-left: 65rem;
}

li > a:hover{
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 999999px;
}



