.img{
    width: 8rem;
}

.navbar{
    background-color: black;
    display: flex;
}

ul{
    display: flex;
    list-style: none;
    margin-right: 5rem;
}

li{
    padding: 1rem;
}

li > a{
    text-decoration: none;
    color: white;
}

.projects{
    color: white;
    margin-left: 45rem;
}

.move{
    margin-left: 20px;
}

li > a:hover{
    background-color: rgba(255, 255, 255, 0.614);
   border-radius: 999999px;
}

li .nav-link{
    transition: all 0.5s ease 0s;

}

.home-page{
    margin-top: 8rem;
}

footer{
    margin-top: 15vh;
}

@media (min-width: 300px) and (max-width: 700px)